/*style sheet for coffe cafe website*/
body {
    
    margin: 0px;
    font-family: arial,verdana,sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 0;
}
p a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#back {
    width: 100%;
    height: 720px;
    background-image: url(../images/WorldBestScrambledEggs.jpg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: 100%;

}
#back2 {
    position: absolute;
    top: 95.8em;
    width: 100%;
    height: 720px;
    background-image: url(../images/Scrambled\ Eggs.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

}
#back3 {
    background-image: url(../images/scramble-2.jpg);
    background-attachment: fixed;
    background-color: blue;
    background-size: 100%;
    position: absolute;
    top: 167.8em;
    width: 100%;
    height: 720px;
}

#title {
    position: absolute;
    top: 20px;
    left: 23%;
    margin: 0;
    background-color: burlywood;
    text-align: center;
    width: 77%;
    height: 100px;
    padding-top: 30px;
    font-family: Georgia,Times, serif;
    font-size: 50px;
    color: rgba(0,0,0,0.6);
    clear: left;
}
#navigation {
    position: absolute;
    top: 220px;
    left: 10%;
    width: 80%;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    padding: 10px 0px 10px 0px;
    margin: 0;
    z-index: 1000;
    
}

#navigation a {
    margin-right: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 10px 3px 10px;
    border-width: thin;
    border-bottom-style: groove ;
}
#navigation a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#page { 
    /*border: solid 8px rgba(0,0,0,0.5);*/
    margin: 0;
    padding: 0;
    /*background-image: url(../960_grid_12_col.jpg);
    background-size: 100%;
    background-position: 50% 20%;
    background-repeat: repeat-y;*/
    

    
}
.main_logo {
    position: absolute;
    top: -15px;
    left: 0%;
    z-index: 1;
}

.menu {
    position: absolute;
    top: 500px;
    left: 15%;
    width: 66%;
    font-size: 26px;
    /*border: 2px solid;*/
}
.menu a {
    position: relative;
    left: 3%;
    margin: 0px 20px 0px 20px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.menu a:active {
    color: rgb(54, 54, 54);
}

.menu a:hover {
    animation: animate 0.3s linear forwards;
}
@keyframes animate
{
    0%
    {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0px;
        opacity: 0;
        box-shadow: 0px 0px 0px 2px;
    }
    100%
    {
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        opacity: 1;
        box-shadow: 0px 0px 8px 10px;
    }
}
#arrowp {
    position: absolute;
    top: -2em;
    left: -30%;
}

#arrow {
    position: absolute;
    top: 24em;
    left: 65%;
    color: aliceblue;
    animation: animate2 2s infinite;
}
@keyframes animate2
{
    0%
    {
        position: absolute;
        top: 24em;
        opacity: 0;
        
    }
    50%
    {
        /*position: absolute;
        top: 28em;*/
        opacity: 1;
    }
    100%
    {
        position: absolute;
        top: 28em;
        opacity: 0;
    }
}

#arrowp2 {
    position: absolute;
    top: -2em;
    left: -30%;
}

#arrow2 {
    position: absolute;
    top: 50em;
    left: 10%;
    color: aliceblue;
    animation: animate3 4s infinite;
    z-index: 100;
}
@keyframes animate3
{
    0%
    {
        position: absolute;
        top: 45em;
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        position: absolute;
        top: 50em;
        opacity: 0;
    }
}

.passage {
    background-image: url(../images/How-to-Scramble-Eggs.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-color: rgb(255, 176, 7);
    position: absolute;
    top: 35em;
    width: 100%;
    height: 100vh;
    min-width: 500px;
    
}
#passage {
    background-color: rgba(255, 102, 0, 0.7);
    position: absolute;
    top: 5%;
    left: 23%;
    width: 50%;
    text-align: center;
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif ;
    padding: 20px;
    line-height: 1.6em;
    border: 1px solid; box-shadow: 0px 0px 50px rgba(0,0,0,0.6);
}
.ingre {
    background-color: rgb(13, 255, 174);
    background-image: url(../images/WorldBestScrambledEggs.jpg);
    background-size: 100%;
    position: absolute;
    top: 131.8em;
    left: 0%;
    width: 100%;
    height: 720px;
    z-index: 1000;
    box-shadow: 0px 50px 200px 10px; 

}

#ingre {
    position: absolute;
    top: 0px;
    left: 34%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-transform: uppercase;  
}
.ingre p {
    position: absolute;
    top: 4.5em;
    left: 27%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.ingre table  {
    background-color: rgba(251, 255, 1, 0.5);
    position: absolute;
    top: 13em;
    left: 3%;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    border: 4px solid yellow;
    box-shadow: 0px 5px 50px 15px rgba(70, 70, 70, 0.9);
}
.ingre table td, th  {
    padding: 10px;
    border: 2px rgb(0, 102, 102) solid;
    border-radius: 5px;
}

.ingre img  {
    margin: 20px 10px 0px 10px;
}
#backbtn {
    position: absolute;
    top: 20em;
    left: 2%;
    width: 35px;
}

#backbtn:hover {
    animation: animate4 0.1s linear forwards;
}
@keyframes animate4
{
    0%
    {
        position: absolute;
        top: 20em;
        opacity: 0;
    
    }
    100%
    {
        position: absolute;
        top: 19.5em;
        opacity: 1;
    }
}


.method {
    background-color: aqua;
    background-image: url(../images/Scrambled\ Eggs.jpg);
    background-size: 100%;
    position: absolute;
    top: 203.8em;
    left: 0%;
    width: 100%;
    height: 720px;
}
#method {
    position: absolute;
    top: 0px;
    left: 34%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-transform: uppercase;  
}
.method ol{
    background-color: rgba(0, 255, 191, 0.8);
    position: absolute;
    top: 6em;
    left: 13%;
    font-size: 24px;
    color: rgb(0, 0, 0);
    width: 70%;
    border: 4px solid rgb(0, 90, 90);
    border-radius: 10px;
    box-shadow: 0px 0px 80px 15px rgb(59, 59, 59);
}

.method ol li{
    line-height: 1.5em;
    padding: 20px;
}

.method ol b{
    font-size: 26px;
    font-weight: bold;
}


#p1 {
    width: 100%;
    text-align: center;
}
.p2 {
    position: absolute;
    top: 65.4em;
    background-color: aqua;
    text-align: center;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 50px 200px 10px;
    z-index: 1; 
}
#p2 {
    position: absolute;
    top: 100px;
    left:11%;
    font-size: 40px;
    width: 80%;
    line-height: 2em;
}
