table {
    border: solid 2px rgba(0,0,0,0.3);
    padding: 2px;
    font-size: 20px;
}

th {
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,1);
    padding: 5px;
    font-size: 22px;
}
tr {
    background-color: rgba(0,0,0,0.1);
    text-align: center;
}

.odd {
    background-color: rgba(0,0,0,0.3);
}